<h4>Graph</h4>
<p>Bag implementation,</p>
<pre>
  <code>
    {{gp}}
  </code>
</pre>
<hr>
<h4>Depth First Search</h4>
<p>From starting point (source) trace (recurcivly) if vertices has connection. The whole sub-group is marked.</p>
<pre>
  <code>
    {{dfs}}
  </code>
</pre>
<hr>
<h4>Depth First Path</h4>
<p>From starting point (source) find path to vertices that has connection. The path is not shortest!</p>
<pre>
  <code>
    {{dfp}}
  </code>
</pre>
<hr>
<h4>Breadth First Path</h4>
<p>From starting point (source) find path to vertices that has connection. The path is shortest! No weights! From source mark all adjecent vertices using queue.</p>
<pre>
  <code>
    {{bfp}}
  </code>
</pre>
<hr>
<h4>Symbol Graph</h4>
<p>Use of Symbol Table (Es6Map) for key/value connections. Keys coluld be Comparable (string). Graph is filled from file of rows having separated values. First value in row is connected to others. Adjecent graph find connectons both ways (firs/others and other/first).</p>
<pre>
  <code>
    {{ses6}}
  </code>
</pre>
<hr>