<nav class="navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Matrix</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['fundamentals']" routerLinkActive="active">Fundamentals</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['sort']" routerLinkActive="active">Sort</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['search']" routerLinkActive="active">Search</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['graphs']" routerLinkActive="active">Graphs</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['hackerrank']" routerLinkActive="active">Hackerrank</a>
    </li>
  </ul>
</nav>
<div class="content m-1">
  <router-outlet></router-outlet>
</div>