<h4>Euclid</h4>
<a>Compute the greatest common divisor of two nonnegative integers a and b as follows: If b is 0, the answer is a. If
  not, divide a by b and take the remainder r. The answer is the greatest common divisor of b and r.</a>
<pre>
  <code>
  {{euclid}}
  </code>
</pre>
<hr>
<h4>Binary Search</h4>
<p>based on 1000000 searches rank method is fastest, than brute and slowest is recursive.</p>
<pre>
  <code>
  {{bs}}
  </code>
</pre>
<canvas #can width="500" height="150"></canvas>
<hr>
<h4>Bag(LIFO)</h4>
<p>Performance of Bag class "add" was 5 time slower than Array, no get method.</p>
<pre>
  <code>
  {{bag}}
  </code>
</pre>
<hr>
<h4>Set(FIFO)</h4>
<p>Unique elements queue, no get method.</p>
<hr>
<h4>Queue(FIFO)</h4>
<p>Performance for enqueue is two times slower than Array, but dequeue is 1000 times faster. Overal Queue is better than Array (shift).</p>
<pre>
  <code>
  {{q}}
  </code>
</pre>
<hr>
<h4>Stack(LIFO)</h4>
<p>Performance for Stack is three times slower than Array (push/pop).</p>
<hr>
<h4>Union Find</h4>
<p>Logaritmic performance. Find connected sites. Array of vectors pointing to the roots.</p>
<pre>
  <code>
  {{uf}}
  </code>
</pre>
<hr>